<div class="card">
    {%- if status %}
    <div class="status status-{{status}}"></div>
    {% endif -%}

    <div class="icon" {%- if icon %} style="--icon-url: url('/icons/matrix.svg');" {% endif -%}></div>

    <div class="content">
        {{title | safe}}<br>
        {% if id %}ID: {{id | safe}}<br>{% endif %}
        {% if url and urlname %}URL: <a href="{{url | safe}}" target="_blank">{{urlname | safe}}</a><br>{% endif %}
        {% if host and hostname %}Host: <a href="{{host | safe}}" target="_blank">{{hostname | safe}}</a><br>{% endif %}
        {% if note %}Notes: {{note | safe}}<br>{% endif %}
    </div>
</div>