@import "theme.scss";

:root {
    color-scheme: dark;
    scrollbar-color: #737373 #38383D;
}

body {
    background-color: $bg-main;
    color: $text;
    font-family: $font;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

code, pre {
    font-family: $monospace;
}

pre {
    background-color: #2f2f2f;
    font-family: $monospace;
    overflow: auto;
    max-height: 30vh;
    padding: .75rem;
    box-shadow: $shadow;
    border-radius: 5px;
}

blockquote {
    color: $text-darker;
    display: block;
    border-left: .5rem solid #333;
    margin: 1rem;
    padding: 1px 1rem;
    box-shadow: $shadow;
    border-radius: 5px;
}

.card {
    position: relative;
    background: $bg-header;
    padding: .75rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    box-shadow: $shadow;

    display: grid;
    grid-template-columns: 80px auto;
    column-gap: .75rem;

    .status {
        position: absolute;
        top: .5rem;
        right: .5rem;
        width: .5rem;
        height: .5rem;
        border-radius: .5rem;

        &.status-active {
            background-color: #0f0;
        }

        &.status-inactive {
            background-color: #ff0;
        }

        &.status-offline {
            background-color: #f00;
        }
    }

    .icon {
        background-color: $text;
        --icon-url: url('/icons/fugi.svg'); // default icon
        mask: var(--icon-url) no-repeat center / contain;
        -webkit-mask: var(--icon-url) no-repeat center / contain;
    }
}
